.Sider{
    height:100vh;
   padding:15px;
   width:300px;
}
.Sider .ant-menu {
    border-inline-end: none;
     margin-top: 15px;
}
.Sider :global(.ant-menu-item){
     margin: 20px 0 !important;
    border-radius: 8px;
}
:global(.ant-menu-title-content) {
    margin-left: 8px;
}
.Logout {
    width:50%;
    margin-left:20px;
}
.LogoContainer{
    display: flex;
    align-items: center;
    gap: 18px;

    padding: 25px 20px;
}
.logo{
    width: 45px;
    height: 45px;
    
    border-radius: 12px;

    background: #2563eb;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 24px;
    font-weight: bold;
}
.text h3{
    color: white;
    margin: 0;
    font-size: 22px;
}

.text p{
    margin:0;
    color: #9ca3af;
    font-size: 14px;
}